# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# VSCode
*.vscode

# Others
meanflow/outputs
meanflow/data
meanflow/output_dir
meanflow/tmp
meanflow/*.ignore
meanflow/*/snapshots*
meanflow/*/outputs

*.ipynb_checkpoints*

make.bat
docs/output
docs/source/generated
docs/source/notebooks
docs/source/images
**/*.ipynb_checkpoints/

outputs/
output_dir/

*logs/
*.out
*.err